.head1{
    font-size:25px;
    color:rgb(6, 6, 44);
    margin: 20px;
    text-align:left;
    font-weight:bold;
    font-style: italic;

}
.head2{
    text-align:center;
    font-size: 70px;
    font-family:fantasy;
    color:#96215bb4;
    letter-spacing:15px;
    text-transform: uppercase;
    -webkit-box-reflect:below 1px linear-gradient(transparent,#96215bb4);
    outline: none;
    animation:animate 3s linear infinite;
} 
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color:#96215bb4;
        box-shadow: none;
    }
    100%
    {
        color: white;
        text-shadow: 0 0 10px #96215bb4 ;
    }
}
.outer{
    position: relative;
    margin: 0 50px;
    background: linear-gradient(#14ffea,#ffeb3b,#ff00e0);
}
.circle1{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.circle2{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 10px 0px 0px 200px;
}
.circle3{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#fill{
    background-image:
    linear-gradient(to bottom,rgba(251, 252, 245, 0.281),rgba(117, 19, 93, 0.24)),
    url("pic.jpeg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    position:relative;
    background-position: center;
}

#till{
    background-image: url("b9.jpeg");
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
#kill{
    background-image: url("b3.jpeg");
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
#will{
    background-image: url("b2.jpeg");
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.nun{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    color: ghostwhite;
   }
.fun{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    color: ghostwhite;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.bun{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    color: ghostwhite;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.outer .circle4{
    background: #111;
    color: #f2f2f2;
    border: none;
    outline: none;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.circle4 {
    height: 135px;
    width: 135px;
    border-radius: 50%;   
   }
.lower{
    position:absolute;
    background:black;
    margin: 7px 15px 0px 8px;
}
.circle5{
    height: 135px;
    width: 135px;
    border-radius: 50%;   
   }
.circle6 {
    height: 135px;
    width: 135px;
    border-radius: 50%;   
   }
   .circle1:hover{
       animation: rotate 1.5s infinite linear;
   }
   @keyframes rotate {
       100%{
           filter: hue-rotate(360deg);
       }
       
   }
   .circle2:hover{
    animation: rotate 1.5s infinite linear;
}
@keyframes rotate {
    100%{
        filter: hue-rotate(360deg);
    }
    
}
.circle3:hover{
    animation: rotate 1.5s infinite linear;
}
@keyframes rotate {
    100%{
        filter: hue-rotate(360deg);
    }
    
}
.pop{
    background-image: url("silsa.jpeg");
    background-position:center;
    height: 300px;
    width: 300px;
    background-size: cover;
    position: relative;
    margin-left:300px;
}
.top{
    background-image: url("oreo.jpeg");
    background-position:center;
    height: 300px;
    width: 300px;
    background-size: cover;
    position: relative;
    margin-left:300px;   
}
.hop{
    background-image: url("swafa.jpeg");
    background-position:center;
    height: 300px;
    width: 300px;
    background-size: cover;
    position: relative;
    margin-left:300px;  
}